In [4]:
import pandas as pd

train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")

#customer1 = train[train['customer_ID'] == 10000000]
train.columns

Index([u'customer_ID', u'shopping_pt', u'record_type', u'day', u'time',
       u'state', u'location', u'group_size', u'homeowner', u'car_age',
       u'car_value', u'risk_factor', u'age_oldest', u'age_youngest',
       u'married_couple', u'C_previous', u'duration_previous', u'A', u'B',
       u'C', u'D', u'E', u'F', u'G', u'cost'],
      dtype='object')

In [45]:
#looking for correlations between number of times a policy view and purchase
#train.groupby(['customer_ID','record_type','A','B','C','D','E','F','G']).size()

#train[['customer_ID','A','B','C','D','E','F','G']][(train.record_type == 1) | (train.shopping_pt == 1)]

sold_records_only = train[['customer_ID','record_type','A','B','C','D','E','F','G']][(train.record_type == 1)]
filtered_columns = train[['customer_ID','record_type','A','B','C','D','E','F','G']]



merged = pd.merge(sold_records_only,filtered_columns,on=['customer_ID','record_type'])

merged

,customer_ID,record_type,A_x,B_x,C_x,D_x,E_x,F_x,G_x,A_y,B_y,C_y,D_y,E_y,F_y,G_y
0,10000000,1,1,0,2,2,1,2,1,1,0,2,2,1,2,1
1,10000005,1,0,0,3,2,0,0,2,0,0,3,2,0,0,2
2,10000007,1,0,0,1,2,0,0,1,0,0,1,2,0,0,1
3,10000013,1,1,1,3,2,1,1,3,1,1,3,2,1,1,3
4,10000014,1,1,1,1,1,0,2,2,1,1,1,1,0,2,2
5,10000016,1,2,0,3,3,0,3,3,2,0,3,3,0,3,3
6,10000019,1,2,1,2,3,1,2,3,2,1,2,3,1,2,3
7,10000023,1,1,1,1,3,1,1,2,1,1,1,3,1,1,2
8,10000025,1,0,0,1,1,0,0,3,0,0,1,1,0,0,3
9,10000026,1,1,1,3,3,1,2,3,1,1,3,3,1,2,3
10,10000027,1,0,0,2,2,0,0,1,0,0,2,2,0,0,1
11,10000028,1,1,0,1,3,0,2,3,1,0,1,3,0,2,3
12,10000031,1,1,1,1,1,0,1,2,1,1,1,1,0,1,2
13,10000032,1,1,1,3,3,0,2,3,1,1,3,3,0,2,3
14,10000033,1,2,0,1,1,0,1,2,2,0,1,1,0,1,2
15,10000034,1,2,1,2,3,0,2,2,2,1,2,3,0,2,2
16,10000036,1,1,1,3,3,0,2,3,1,1,3,3,0,2,3
17,10000037,1,1,0,1,2,1,2,2,1,0,1,2,1,2,2
18,10000038,1,1,1,1,1,1,2,2,1,1,1,1,1,2,2
19,10000039,1,1,1,3,3,1,2,3,1,1,3,3,1,2,3
20,10000040,1,1,1,3,3,1,2,1,1,1,3,3,1,2,1
21,10000041,1,0,1,1,1,0,0,3,0,1,1,1,0,0,3
22,10000042,1,1,1,3,3,1,1,3,1,1,3,3,1,1,3
23,10000043,1,1,0,3,3,0,0,2,1,0,3,3,0,0,2
24,10000047,1,1,0,3,3,1,1,3,1,0,3,3,1,1,3
25,10000048,1,0,0,1,1,0,0,3,0,0,1,1,0,0,3
26,10000049,1,0,1,1,1,0,0,2,0,1,1,1,0,0,2
27,10000052,1,2,1,3,3,1,3,3,2,1,3,3,1,3,3
28,10000054,1,1,1,1,2,1,2,3,1,1,1,2,1,2,3
29,10000055,1,2,1,4,3,0,1,2,2,1,4,3,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96979,10152682,1,1,1,3,3,1,0,2,1,1,3,3,1,0,2
96980,10152685,1,1,1,3,3,0,0,2,1,1,3,3,0,0,2
96981,10152687,1,1,0,2,3,0,2,3,1,0,2,3,0,2,3
96982,10152688,1,1,0,4,3,0,0,3,1,0,4,3,0,0,3
96983,10152689,1,1,0,1,2,0,2,3,1,0,1,2,0,2,3
96984,10152690,1,1,1,1,1,1,1,2,1,1,1,1,1,1,2
96985,10152691,1,0,0,2,3,0,0,2,0,0,2,3,0,0,2
96986,10152692,1,1,1,3,3,1,1,4,1,1,3,3,1,1,4
96987,10152693,1,1,0,3,3,1,0,2,1,0,3,3,1,0,2
96988,10152694,1,1,1,3,3,1,1,1,1,1,3,3,1,1,1
96989,10152697,1,2,1,2,2,1,2,3,2,1,2,2,1,2,3
96990,10152698,1,1,1,1,1,1,0,2,1,1,1,1,1,0,2
96991,10152699,1,1,0,3,3,1,1,3,1,0,3,3,1,1,3
96992,10152701,1,1,1,1,1,1,2,1,1,1,1,1,1,2,1
96993,10152702,1,1,1,4,3,0,2,4,1,1,4,3,0,2,4
96994,10152703,1,1,0,4,3,1,0,2,1,0,4,3,1,0,2
96995,10152704,1,0,0,3,3,0,0,2,0,0,3,3,0,0,2
96996,10152706,1,0,0,2,2,0,0,1,0,0,2,2,0,0,1
96997,10152707,1,0,1,2,2,0,0,2,0,1,2,2,0,0,2
96998,10152709,1,1,1,3,3,1,2,3,1,1,3,3,1,2,3
96999,10152710,1,0,0,3,3,0,1,3,0,0,3,3,0,1,3
97000,10152711,1,1,1,3,3,1,1,2,1,1,3,3,1,1,2
97001,10152713,1,1,0,1,3,1,1,3,1,0,1,3,1,1,3
97002,10152716,1,1,1,3,3,0,2,2,1,1,3,3,0,2,2
97003,10152717,1,1,1,3,2,1,2,1,1,1,3,2,1,2,1
97004,10152718,1,1,1,4,3,1,2,4,1,1,4,3,1,2,4
97005,10152720,1,1,0,1,2,0,2,3,1,0,1,2,0,2,3
97006,10152721,1,1,0,3,3,1,0,2,1,0,3,3,1,0,2
97007,10152723,1,1,0,3,3,1,2,3,1,0,3,3,1,2,3
97008,10152724,1,1,0,3,3,0,2,2,1,0,3,3,0,2,2